header{
top: 120px;


  height: 400px;
  width: 100%;
  
  /* margin-top: -262px; */
  /* position: relative; */
  position: absolute;
  z-index: 1000;
  /* background-color:#a18440; */
  /* position: absolute */
  text-align: center;
  font-family: Source Sans Pro, sans-serif;
  background-color: #40a18a;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

@media only screen and (max-width: 900px) {
  #header {
    width: 33.3%;
    float: left;
    margin-top: 0;
    margin-left: 2em;
    background-color: #a18a;
  }
} 