nav {
  
  position: fixed;
  z-index: 1030;
  background-color: #4056A1;
  color:#FFFFFF;
  box-sizing: border-box;
  height: 120px;
  width: 100%;


  display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    
}

.tweeterTitle{
  font-family: 'Bungee', sans-serif;
  margin-left: 1.5em;
}

.newTweet {
  font-family: Source Sans Pro, sans-serif;
  
  margin-right: 1.5em;



}



